* {
  font-family: Arial, Helvetica, sans-serif;
}

details {
  /* margin-top: 1em; */
  padding-top: 0.5em;
  border-top: 2px black solid;
}

details > *:not(summary){
  padding-left: 2em;
}

details > form {
  padding-bottom: 1em;
}

summary {
  padding-bottom: 0.5em;
  font-weight: bold;
}
f
summary:focus {
  outline: none;
}

.container_label_and_input {
  padding-top: 0.5em;
}

.container_label_and_input.sub_input {
  padding-left: 2em;
  display: none;
}

.container_label_and_input > label {
  display: block;
}

.container_label_and_input > input[type="checkbox"] + label,
.container_label_and_input > input[type="radio"] + label {
  display: inline-block;
}

.container_label_and_input > input[type="checkbox"],
.container_label_and_input > input[type="radio"] {
  display: inline-block;
}

/* add line break in form element */
.container_label_and_input > label + input,
.container_label_and_input > label + select,
.container_label_and_input > label + textarea {
  display: inline-block;
}

label > .sub {
  display: block;
  font-size: 80%;
  opacity: 80%;
}


/* === SEARCH === */
.enable_search_shema {
  display: inline-block;
}

.enable_search_shema::before {
  content: '';
}

.enable_search_shema + .container_label_and_input {
  display: inline-block;
}

.container_search_disable > .container_label_and_input {
  margin-left: 1em;
}

.toggle_rowbreak {
  display: none;
}

.container_search_disable .toggle_rowbreak {
  display: block;
}

/* no selection color in labels */
label::selection {
  background-color: transparent;
}

.shema_search {
  margin-bottom: 1em;
}

.search_shema_connector {
  margin-bottom: 1em;
  font-weight: bold;
}

.search_plus_button,
.search_minus_button {
  font-family: monospace;
  opacity: 0;
}

.container_label_and_input:hover .search_plus_button:not([disabled]),
.container_label_and_input:hover .search_minus_button:not([disabled]) {
  opacity: 1;
}

.special_vertical_align {
  vertical-align: -40%;
}



#delete_session_button {
  margin-top: 1em;
}

#delete_session_button_divider {
  margin-top: 1em;
}

input[type=submit] {
  margin-top: 1em;
}

.input_shema_source_path_ui {
  display: inline-block;
}

.copy_button_source_path_file {
  margin-left: 0.5em;
}


.error_heading {
  color: red;
  font-weight: bold;
}

details.error summary {
  background-color: rgba(255,0,0,0.5);
}

.success_heading {
  color: green;
  font-weight: bold;
}

.file_shema_input_highlight {
  outline: red 2px solid;
}
